/**
Default styles for some custom classes.
Change with theme as appropriate..
*/

.deprecated-notice {
    border: 2px solid rgb(255, 238, 238);
    padding: 10px;
    margin-bottom: 10px;
}

.toc-deprecated {
    text-decoration: line-through;
}

.returns-type {
    float: left;
    padding-right: 10px;
}

.returns-desc {
}

dt a {
    font-weight: normal;
}

body, input, button, select, textarea, .navbar a, .search-query, .subnav {
    font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    text-shadow: none !important;
}

h1, h2, h3, h4, h5, h6, .navbar .brand {
    font-family: freight-sans-pro, sans-serif !important;
}

.navbar-inner {
    background-image: none !important;
}

.readme table {
    width: 100%;
    margin-bottom: 20px;
}
.readme table th,
.readme table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.readme table th {
    font-weight: bold;
}
.readme table thead th {
    vertical-align: bottom;
}
.readme table caption + thead tr:first-child th,
.readme table caption + thead tr:first-child td,
.readme table colgroup + thead tr:first-child th,
.readme table colgroup + thead tr:first-child td,
.readme table thead:first-child tr:first-child th,
.readme table thead:first-child tr:first-child td {
    border-top: 0;
}
.readme table tbody + tbody {
    border-top: 2px solid #dddddd;
}
