<?js

var self = this;

?>
<div class="navbar navbar-default navbar-fixed-top <?js= self.navOptions.inverseNav ? 'navbar-inverse' : '' ?>">
  <div class="container-fluid">
  	<div class="navbar-header">
  		<a class="navbar-brand" href="<?js= self.nav.index.link ?>"><?js if(self.navOptions.logoFile) { ?><img class="branding-logo" src="<?js= self.navOptions.logoFile ?>"
  		alt="logo"/><?js } ?><?js= self.nav.index.title ?></a>
  		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#topNavigation">
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
      </button>
  	</div>
  	<div class="navbar-collapse collapse" id="topNavigation">
  		<ul class="nav navbar-nav">
  			<?js self.nav.topLevelNav.forEach(function(entry){ ?>
  			<li class="dropdown">
  				<a href="<?js= entry.link ?>" class="dropdown-toggle" data-toggle="dropdown"><?js= entry.title ?><b class="caret"></b></a>
  				<ul class="dropdown-menu <?js= self.navOptions.navType ==='inline' ? 'inline' : '' ?>">
  					<?js entry.members.forEach(function(member){ ?><li><?js= member ?></li><?js	}); ?>
  				</ul>
  			</li>
  			<?js }); ?>
        <?js= self.partial('navbar-nav-extra.tmpl') ?>
  		</ul>
          <?js if (self.navOptions.search) { ?>
              <div class="col-sm-3 col-md-3">
                  <form class="navbar-form" role="search">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search" name="q" id="search-input">
                          <div class="input-group-btn">
                              <button class="btn btn-default" id="search-submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                  </form>
              </div>
          <?js } ?>
  	</div>
  </div>
</div>
