<li>
  <a href="https://github.com/photonstorm/phaser-ce/blob/master/README.md">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    README
  </a>
</li>

<li>
  <a href="https://github.com/photonstorm/phaser-ce/blob/master/CHANGELOG.md">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    CHANGELOG
  </a>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    Community
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="http://phaser.io">Phaser</a>
    </li>
    <li>
      <a href="https://github.com/photonstorm/phaser-ce">Phaser CE on GitHub</a>
    </li>
    <li>
      <a href="https://codepen.io/collection/AMbZgY/">Phaser CE Examples</a>
    </li>
    <li>
      <a href="http://www.html5gamedevs.com/forum/14-phaser/">Forum</a>
    </li>
    <li>
      <a href="https://twitter.com/photonstorm">Twitter</a>
    </li>
    <li>
      <a href="http://phaser.io/community/slack">Slack</a>
    </li>
    <li>
      <a href="http://phaser.io/community/donate">Donate</a>
    </li>
  </ul>
</li>
