<div class="toc-container hidden-xs hidden-sm">
  <div class="toc-filter">
    <div class="form-inline">
    <div class="form-group">
      <label for="filter" class="control-label">Filter</label>
      <input type="text" class="form-control" id="toc-filter-input">
    </div>
  </div>
  </div>
  <div id="toc">
    <div class="list-group">
      <div id="toc-insert"></div>
    </div>
  </div>
</div>
